= form_for @discussion do |f|
  .entry
    = f.label :recipient_tokens
    = select_tag "discussion[recipient_tokens]", options_from_collection_for_select(User.all, :id, Inboxes::config.user_name), :multiple => true, :size => "4"
  .entry
    = f.fields_for :messages do |j|
      = j.label :body
      = j.text_area :body, :label => "Сообщение"
  
  = f.submit 'Отправить'