%h3
  Chat with
  = @discussion.users.map { |u| u[Inboxes::config.user_name] }.join(", ")

%h3 Messages
- @discussion.messages.each do |message|
  %p
    = "[#{message.user[Inboxes::config.user_name]}]"
    = message.body
    = "@ #{l(message.created_at)}"
    
= render "messages/form"
= link_to "All discussions", discussions_path